ArmTemplate_64.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PlanetFitnessDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EMPLOYEELOCATIONREF_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EmployeeLocationRef_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select   /*+INDEX(t,PK_EMPLOYEELOCATIONREF)*/ * from BETADATA.EMPLOYEELOCATIONREF t\nwhere  VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SPL_ID",
														"type": "String"
													},
													"sink": {
														"name": "SPL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELR_SORT_ORDER",
														"type": "Decimal"
													},
													"sink": {
														"name": "ELR_SORT_ORDER",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EMPLOYEELOCATIONREF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_EMPLOYEELOCATIONREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_employeelocationref_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EMPLOYEELOCATIONREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EMPLOYEES_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Employees",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EMPLOYEES"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,E_MODIFIED)*/ * from BETADATA.EMPLOYEES t\nwhere E_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND E_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "E_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_NAME_LAST",
														"type": "String"
													},
													"sink": {
														"name": "E_NAME_LAST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_NAME_FIRST",
														"type": "String"
													},
													"sink": {
														"name": "E_NAME_FIRST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_NAME_MI",
														"type": "String"
													},
													"sink": {
														"name": "E_NAME_MI",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_NAME_FIRST_LAST",
														"type": "String"
													},
													"sink": {
														"name": "E_NAME_FIRST_LAST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_NAME_LAST_FIRST",
														"type": "String"
													},
													"sink": {
														"name": "E_NAME_LAST_FIRST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ADDRESS",
														"type": "String"
													},
													"sink": {
														"name": "E_ADDRESS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_CITY",
														"type": "String"
													},
													"sink": {
														"name": "E_CITY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ZIP",
														"type": "String"
													},
													"sink": {
														"name": "E_ZIP",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_EMAIL",
														"type": "String"
													},
													"sink": {
														"name": "E_EMAIL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_CELL",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_CELL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_OFFICE",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_OFFICE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_OFFICE_EXT",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_OFFICE_EXT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_FAX",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_FAX",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_EMERGENCY",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_EMERGENCY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_EMERGENCY_EXT",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_EMERGENCY_EXT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PHONE_HOME",
														"type": "String"
													},
													"sink": {
														"name": "E_PHONE_HOME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_BIRTHDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_BIRTHDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_SSN",
														"type": "String"
													},
													"sink": {
														"name": "E_SSN",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_START_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_START_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_TERMINATION_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_TERMINATION_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_WAGE",
														"type": "Decimal"
													},
													"sink": {
														"name": "E_WAGE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_COMMISSION_LEVEL",
														"type": "Decimal"
													},
													"sink": {
														"name": "E_COMMISSION_LEVEL",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_POS_ACCESS_CODE",
														"type": "String"
													},
													"sink": {
														"name": "E_POS_ACCESS_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_BARCODE",
														"type": "String"
													},
													"sink": {
														"name": "E_BARCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_SELL_AGREEMENT",
														"type": "String"
													},
													"sink": {
														"name": "E_SELL_AGREEMENT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_TRACK_AVAILABILITY",
														"type": "String"
													},
													"sink": {
														"name": "E_TRACK_AVAILABILITY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "E_ABC_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_EMAIL_UPDATES",
														"type": "String"
													},
													"sink": {
														"name": "E_EMAIL_UPDATES",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_FINGERPRINT",
														"type": "Byte[]"
													},
													"sink": {
														"name": "E_FINGERPRINT",
														"type": "Byte[]"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "STL_ID",
														"type": "String"
													},
													"sink": {
														"name": "STL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_SSN_LAST_FOUR",
														"type": "String"
													},
													"sink": {
														"name": "E_SSN_LAST_FOUR",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ALLOW_MULTI_CLOCK_IN",
														"type": "String"
													},
													"sink": {
														"name": "E_ALLOW_MULTI_CLOCK_IN",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MP_ID",
														"type": "String"
													},
													"sink": {
														"name": "MP_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_PROFILE",
														"type": "String"
													},
													"sink": {
														"name": "E_PROFILE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_SMS_UPDATES",
														"type": "String"
													},
													"sink": {
														"name": "E_SMS_UPDATES",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_SSN_ENC_KEY",
														"type": "String"
													},
													"sink": {
														"name": "E_SSN_ENC_KEY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_SSN_ENC_DATA",
														"type": "String"
													},
													"sink": {
														"name": "E_SSN_ENC_DATA",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETLE_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETLE_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_MODIFIED_DW",
														"type": "DateTime"
													},
													"sink": {
														"name": "E_MODIFIED_DW",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_ADP_CODE",
														"type": "String"
													},
													"sink": {
														"name": "E_ADP_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CTL_ID",
														"type": "String"
													},
													"sink": {
														"name": "CTL_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EMPLOYEES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EMPLOYEES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_employees_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EMPLOYEES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employeedepartmentref_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EMPLOYEEDEPARTMENTREF_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,PK_EMPLOYEEDEPARTMENTREF)*/ * from BETADATA.EMPLOYEEDEPARTMENTREF t\nwhere VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "D_ID",
														"type": "String"
													},
													"sink": {
														"name": "D_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EDR_SORT_ORDER",
														"type": "Decimal"
													},
													"sink": {
														"name": "EDR_SORT_ORDER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "EDR_WAGE",
														"type": "Decimal"
													},
													"sink": {
														"name": "EDR_WAGE",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EMPLOYEEDEPARTMENTREF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_EMPLOYEEDEPARTMENTREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_employeedepartmentref_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EMPLOYEEDEPARTMENTREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventcatalogitemref_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTCATALOGITEMREF_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,PK_EVENTTYPECATALOGSERVICEITEM)*/ * from BETADATA.EVENTCATALOGITEMREF t\nwhere VPD_ID  in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "CGI_ID",
														"type": "String"
													},
													"sink": {
														"name": "CGI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ECIR_SORT_ORDER",
														"type": "Decimal"
													},
													"sink": {
														"name": "ECIR_SORT_ORDER",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTCATALOGITEMREF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_EVENTCATALOGITEMREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventcatalogitemref_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTCATALOGITEMREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventcategories_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTCATEGORIES",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EVENTCATEGORIES_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  * from BETADATA.EVENTCATEGORIES t\nwhere ECT_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ECT_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBehavior": "Insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 6
													}
												},
												{
													"source": {
														"name": "ECT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ECT_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ECT_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ECT_CREATED",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												},
												{
													"source": {
														"name": "ECT_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ECT_MODIFIED",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												},
												{
													"source": {
														"name": "ECT_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ECT_ACTIVE",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ECT_NAME",
														"type": "String"
													},
													"sink": {
														"name": "ECT_NAME",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ECT_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ECT_ABC_CODE",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTCATEGORIES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTCATEGORIES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventcategories_incr;\nselect 0; ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTCATEGORIES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group1"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventcategoryeventtyperef_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTCATEGORYEVENTTYPEREF_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  /*+INDEX(t,PK_EVENTCATEGORYEVENTTYPEREF)*/ * from BETADATA.EVENTCATEGORYEVENTTYPEREF t\nwhere VPD_ID  in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ECT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ECT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ECTET_SORT_ORDER",
														"type": "Decimal"
													},
													"sink": {
														"name": "ECTET_SORT_ORDER",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTCATEGORYEVENTTYPEREF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_EVENTCATEGORYEVENTTYPEREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_EVENTCATEGORYEVENTTYPEREF_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTCATEGORYEVENTTYPEREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventdurations_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTDURATIONS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EVENTDURATIONS_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTDURATIONS\nwhere ED_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ED_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ED_ID",
														"type": "String"
													},
													"sink": {
														"name": "ED_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ED_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ED_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ED_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ED_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ED_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ED_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ED_VALUE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ED_VALUE",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTDURATIONS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTDURATIONS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_EVENTDURATIONS_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTDURATIONS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventitems_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTITEMS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  /*+INDEX(t,EVI_MODIFIED)*/ * from BETADATA.EVENTITEMS t\nwhere EVI_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND EVI_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "EVI_ID",
														"type": "String"
													},
													"sink": {
														"name": "EVI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "EVI_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_START_TIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_START_TIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_END_TIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_END_TIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_MAX_ATTENDEES",
														"type": "Decimal"
													},
													"sink": {
														"name": "EVI_MAX_ATTENDEES",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "EVI_FREE",
														"type": "String"
													},
													"sink": {
														"name": "EVI_FREE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_COMMENT",
														"type": "String"
													},
													"sink": {
														"name": "EVI_COMMENT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_ID",
														"type": "String"
													},
													"sink": {
														"name": "EL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ED_ID",
														"type": "String"
													},
													"sink": {
														"name": "ED_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ESS_ID",
														"type": "String"
													},
													"sink": {
														"name": "ESS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ESRC_ID",
														"type": "String"
													},
													"sink": {
														"name": "ESRC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "STAFF_E_ID",
														"type": "String"
													},
													"sink": {
														"name": "STAFF_E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SPL_ID",
														"type": "String"
													},
													"sink": {
														"name": "SPL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RE_ID",
														"type": "String"
													},
													"sink": {
														"name": "RE_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_PAYMENT_MODE",
														"type": "Decimal"
													},
													"sink": {
														"name": "EVI_PAYMENT_MODE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_ID_PRIMARY",
														"type": "String"
													},
													"sink": {
														"name": "E_ID_PRIMARY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_REFRESH_EMPLOYEE",
														"type": "String"
													},
													"sink": {
														"name": "EVI_REFRESH_EMPLOYEE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EIG_ID",
														"type": "String"
													},
													"sink": {
														"name": "EIG_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_COMMISSION",
														"type": "Decimal"
													},
													"sink": {
														"name": "EVI_COMMISSION",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "EVI_VERIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_VERIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_COMPLETED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EVI_COMPLETED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "E_ID_COMPLETED",
														"type": "String"
													},
													"sink": {
														"name": "E_ID_COMPLETED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_REMINDERS_CREATED",
														"type": "String"
													},
													"sink": {
														"name": "EVI_REMINDERS_CREATED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_SMS_REMINDERS_CREATED",
														"type": "String"
													},
													"sink": {
														"name": "EVI_SMS_REMINDERS_CREATED",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTITEMS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTITEMS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventitems_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTITEMS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventlocations_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTLOCATIONS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "betadata.stg_stationsettings"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTLOCATIONS\nwhere EL_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND EL_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "EL_ID",
														"type": "String"
													},
													"sink": {
														"name": "EL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EL_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EL_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "EL_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EL_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "EL_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_NAME",
														"type": "String"
													},
													"sink": {
														"name": "EL_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "EL_ABC_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SPL_ID",
														"type": "String"
													},
													"sink": {
														"name": "SPL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_DETAILS",
														"type": "String"
													},
													"sink": {
														"name": "EL_DETAILS",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTLOCATIONS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTLOCATIONS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventlocations_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTLOCATIONS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventlocationtypes_sqlpool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTLOCATIONTYPES",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EVENTLOCATIONTYPES_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTLOCATIONTYPES\nwhere ELT_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ELT_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowCopyCommand": true,
											"copyCommandSettings": {}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ELT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ELT_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ELT_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ELT_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ELT_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ABC_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_NAME",
														"type": "String"
													},
													"sink": {
														"name": "ELT_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_ALLOW_OVERBOOK",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ALLOW_OVERBOOK",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_DESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "ELT_DESCRIPTION",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTLOCATIONTYPES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTLOCATIONTYPES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventlocationtypes_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTLOCATIONTYPES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventopportunitylevels_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Eventopportunitylevels_SQLPOOL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from betadata.Eventopportunitylevels;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table StgDatatrak.stg_Eventopportunitylevels_incr;",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EOL_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOL_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EOL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "EOL_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_EVENTOPPORTUNITYLEVELS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_EVENTOPPORTUNITYLEVELS_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Eventopportunitylevels_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTOPPORTUNITYLEVELS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventrolls_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTROLLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "betadata.stg_stationsettings"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,ER_MODIFIED)*/ * from BETADATA.EVENTROLLS t\nwhere ER_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ER_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ER_ID",
														"type": "String"
													},
													"sink": {
														"name": "ER_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ER_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ER_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ER_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ER_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ER_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_SEQUENCE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ER_SEQUENCE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ER_VERIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ER_VERIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CGI_ID",
														"type": "String"
													},
													"sink": {
														"name": "CGI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CIL_ID",
														"type": "String"
													},
													"sink": {
														"name": "CIL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EICR_ID",
														"type": "String"
													},
													"sink": {
														"name": "EICR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVI_ID",
														"type": "String"
													},
													"sink": {
														"name": "EVI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POSI_ID",
														"type": "String"
													},
													"sink": {
														"name": "POSI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SR_ID",
														"type": "String"
													},
													"sink": {
														"name": "SR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID_HANDOFF",
														"type": "String"
													},
													"sink": {
														"name": "E_ID_HANDOFF",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_HAND_OFF",
														"type": "String"
													},
													"sink": {
														"name": "ER_HAND_OFF",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_SOLD_MORE",
														"type": "String"
													},
													"sink": {
														"name": "ER_SOLD_MORE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_OPPORTUNITY",
														"type": "Decimal"
													},
													"sink": {
														"name": "ER_OPPORTUNITY",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ER_OPEN_PACKAGE_REORDER",
														"type": "String"
													},
													"sink": {
														"name": "ER_OPEN_PACKAGE_REORDER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_PURCHASE_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "ER_PURCHASE_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ER_OPP_OVERRIDE",
														"type": "String"
													},
													"sink": {
														"name": "ER_OPP_OVERRIDE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_REFRESH_EMPLOYEE",
														"type": "String"
													},
													"sink": {
														"name": "ER_REFRESH_EMPLOYEE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DCHAN_ID",
														"type": "String"
													},
													"sink": {
														"name": "DCHAN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ATTEND_ID",
														"type": "String"
													},
													"sink": {
														"name": "ATTEND_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "U_ID_CREATED",
														"type": "String"
													},
													"sink": {
														"name": "U_ID_CREATED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EVFUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "EVFUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ER_COMMISSION",
														"type": "Decimal"
													},
													"sink": {
														"name": "ER_COMMISSION",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ER_COMMISSION_DISCOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "ER_COMMISSION_DISCOUNT",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ER_RECEIPT_PRINT_COUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "ER_RECEIPT_PRINT_COUNT",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ACIR_ID",
														"type": "String"
													},
													"sink": {
														"name": "ACIR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ATL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ATL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "U_ID_RESTRICTION_OVERRIDE",
														"type": "String"
													},
													"sink": {
														"name": "U_ID_RESTRICTION_OVERRIDE",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTROLLS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTROLLS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_eventrolls_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTROLLS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventrollswaiting_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTROLLSWAITING",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "betadata.stg_stationsettings"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTROLLSWAITING\nwhere ERW_CREATED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ERW_CREATED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ERW_ID",
														"type": "String"
													},
													"sink": {
														"name": "ERW_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ERW_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ERW_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EVI_ID",
														"type": "String"
													},
													"sink": {
														"name": "EVI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DCHAN_ID",
														"type": "String"
													},
													"sink": {
														"name": "DCHAN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ERWS_ID",
														"type": "String"
													},
													"sink": {
														"name": "ERWS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ERW_LAST_CONTACT",
														"type": "DateTime"
													},
													"sink": {
														"name": "ERW_LAST_CONTACT",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "U_ID_CREATED",
														"type": "String"
													},
													"sink": {
														"name": "U_ID_CREATED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ERW_LAST_ENROLL_ATTEMPT",
														"type": "DateTime"
													},
													"sink": {
														"name": "ERW_LAST_ENROLL_ATTEMPT",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTROLLSWAITING",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTROLLSWAITING_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.[STG_EVENTROLLSWAITING_incr];\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTROLLSWAITING_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Events_DailyDeleteCheck_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate stg_events_deleted_check",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table [Abcpi].[stg_events_deleted_check_incr];\nSELECT 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get30Days_EventItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate stg_events_deleted_check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "\nselect\nevi.evi_id as eventid\n,evi.evi_start_time as eventTimestamp\n,evi_created as createdTimestamp\n,evi_modified as modifiedTimestamp\n,m.m_id as memberid\n,cast(cast(spl.spl_abc_id as int) as varchar(6)) as ClubNumber\nfrom betadata.eventitems evi\njoin betadata.serviceproviderlocations spl on evi.vpd_id=spl.vpd_id and evi.spl_id=spl.spl_id\nLEFT OUTER JOIN betadata.EVENTROLLS er ON er.vpd_id = evi.vpd_id AND er.evi_id = evi.evi_id\nLEFT OUTER JOIN betadata.MEMBERS m ON m.vpd_id = er.vpd_id AND m.m_id = er.m_id\nwhere TRUNC(evi.evi_start_time) between TRUNC(current_date - 30) and TRUNC(current_date + 61)",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVENTID",
											"type": "String"
										},
										"sink": {
											"name": "eventId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EVENTTIMESTAMP",
											"type": "DateTime"
										},
										"sink": {
											"name": "eventTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATEDTIMESTAMP",
											"type": "DateTime"
										},
										"sink": {
											"name": "events_createdTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MODIFIEDTIMESTAMP",
											"type": "DateTime"
										},
										"sink": {
											"name": "events_modifiedTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MEMBERID",
											"type": "String"
										},
										"sink": {
											"name": "memberId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLUBNUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ClubNumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_EVENTITEMS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_ABCPI_STG_EVENTS_DELETED_CHECKS_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_stg_calendar_events_members_deleted_check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get30Days_EventItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\nselect distinct \n\t[eventId] ,\n\t[eventTimestamp],\n\t[events_createdTimestamp] ,\n\t[events_modifiedTimestamp],\n\t[memberId] ,\n\tevi.[ClubNumber] \nfrom [Abcpi].[stg_events_deleted_check_incr] evi\njoin DimFact.DimClub c on evi.clubnumber=c.ClubNumber\nWHERE active_ind=1 and sourcenm='ABC';\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table abcfin.stg_calendar_events_members_deleted_check;\nSELECT 0;",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "eventId",
											"type": "String"
										},
										"sink": {
											"name": "eventId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "eventTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "eventTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "events_createdTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "events_createdTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "events_modifiedTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "events_modifiedTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "memberId",
											"type": "String"
										},
										"sink": {
											"name": "memberId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ClubNumber",
											"type": "String"
										},
										"sink": {
											"name": "ClubNumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlDatabase2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_ABCFIN_STG_CALENDAR_EVENTS_MEMBERS_DELETED_CHECK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_stg_club_events_deleted_Check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get30Days_EventItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\nselect distinct \n\t[eventId] ,\n\t[eventTimestamp],\n\t[events_createdTimestamp] as createdTimestamp,\n\t[events_modifiedTimestamp] as modifiedTimestamp,\n\tevi.[ClubNumber] \nfrom [Abcpi].[stg_events_deleted_check_incr] evi\njoin DimFact.DimClub c on evi.clubnumber=c.ClubNumber\nWHERE active_ind=1 and sourcenm='ABC';\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table abcfin.stg_club_events_deleted_Check;\nSELECT 0;\n",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "eventId",
											"type": "String"
										},
										"sink": {
											"name": "eventId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "eventTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "eventTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "createdTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "modifiedTimestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ClubNumber",
											"type": "String"
										},
										"sink": {
											"name": "ClubNumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlDatabase2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_ABCFIN_STG_CLUB_EVENTS_DELETED_CHECK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Deleted Event Flag",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_stg_club_events_deleted_Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dimfact].[updateDeletedEvents]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Deleted Member Event Flag",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_stg_calendar_events_members_deleted_check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dimfact].[updateDeletedMemberEvents]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventstatuses_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Eventstatuses_SQLPOOL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from betadata.eventstatuses;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table StgDatatrak.stg_eventstatuses_incr;",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ESS_ID",
											"type": "String"
										},
										"sink": {
											"name": "ESS_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ESS_NAME",
											"type": "String"
										},
										"sink": {
											"name": "ESS_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ESS_ABC_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ESS_ABC_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_EVENTSTATUSES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_EVENTSTATUSES_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Eventstatuses_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTSTATUSES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventtraininglevels_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTTRAININGLEVELS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EVENTTRAININGLEVELS_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTTRAININGLEVELS\nwhere ETL_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ETL_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ETL_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ETL_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ETL_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ETL_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_NAME",
														"type": "String"
													},
													"sink": {
														"name": "ETL_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_LEVEL",
														"type": "Decimal"
													},
													"sink": {
														"name": "ETL_LEVEL",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTTRAININGLEVELS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTTRAININGLEVELS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Training incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Training incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.[STG_eventtraininglevels_incr];\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTTRAININGLEVELS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventtypes_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTTYPES",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_EVENTTYPES_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,ET_MODIFIED)*/ * from BETADATA.EVENTTYPES t\nwhere ET_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND ET_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ET_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ET_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "ET_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "ET_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_NAME",
														"type": "String"
													},
													"sink": {
														"name": "ET_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_IS_CLASS",
														"type": "String"
													},
													"sink": {
														"name": "ET_IS_CLASS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_EMP_REQUIRED_TO_COMPLETE",
														"type": "String"
													},
													"sink": {
														"name": "ET_EMP_REQUIRED_TO_COMPLETE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_LOC_REQUIRED_TO_COMPLETE",
														"type": "String"
													},
													"sink": {
														"name": "ET_LOC_REQUIRED_TO_COMPLETE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_MEM_REQUIRED_TO_COMPLETE",
														"type": "String"
													},
													"sink": {
														"name": "ET_MEM_REQUIRED_TO_COMPLETE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_MAX_ATTENDEES",
														"type": "String"
													},
													"sink": {
														"name": "ET_MAX_ATTENDEES",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ABC_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_INTERNAL_USE",
														"type": "String"
													},
													"sink": {
														"name": "ET_INTERNAL_USE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ALLOW_CANCEL_CHARGE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ALLOW_CANCEL_CHARGE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ALLOW_CANCEL_NC",
														"type": "String"
													},
													"sink": {
														"name": "ET_ALLOW_CANCEL_NC",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_PERSON_BASED_COMMISSION",
														"type": "String"
													},
													"sink": {
														"name": "ET_PERSON_BASED_COMMISSION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ALLOW_OVERBOOKING",
														"type": "String"
													},
													"sink": {
														"name": "ET_ALLOW_OVERBOOKING",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ED_ID",
														"type": "String"
													},
													"sink": {
														"name": "ED_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ELT_ID",
														"type": "String"
													},
													"sink": {
														"name": "ELT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_OPPORTUNITY",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_OPPORTUNITY",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_EMAIL_MEMBERS",
														"type": "String"
													},
													"sink": {
														"name": "ET_EMAIL_MEMBERS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_PENDING_BACKGROUND",
														"type": "String"
													},
													"sink": {
														"name": "ET_PENDING_BACKGROUND",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_PENDING_FOREGROUND",
														"type": "String"
													},
													"sink": {
														"name": "ET_PENDING_FOREGROUND",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ONLINE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ONLINE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_COUPON_TEXT",
														"type": "String"
													},
													"sink": {
														"name": "ET_COUPON_TEXT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_MEM_REQUIRED_TO_CREATE",
														"type": "String"
													},
													"sink": {
														"name": "ET_MEM_REQUIRED_TO_CREATE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_EMP_REQUIRED_TO_CREATE",
														"type": "String"
													},
													"sink": {
														"name": "ET_EMP_REQUIRED_TO_CREATE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_LOC_REQUIRED_TO_CREATE",
														"type": "String"
													},
													"sink": {
														"name": "ET_LOC_REQUIRED_TO_CREATE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_MEMBER_VERIFY",
														"type": "String"
													},
													"sink": {
														"name": "ET_MEMBER_VERIFY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_EMPLOYEE_VERIFY",
														"type": "String"
													},
													"sink": {
														"name": "ET_EMPLOYEE_VERIFY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_QUICK_ENROLL_MINUTES_BEFORE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_QUICK_ENROLL_MINUTES_BEFORE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_QUICK_ENROLL_MINUTES_AFTER",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_QUICK_ENROLL_MINUTES_AFTER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_DESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "ET_DESCRIPTION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_LEGAL",
														"type": "String"
													},
													"sink": {
														"name": "ET_LEGAL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_START_BOOKING_HOURS",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_START_BOOKING_HOURS",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_END_BOOKING_HOURS",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_END_BOOKING_HOURS",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_CANCEL_HOURS",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_CANCEL_HOURS",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_MEMBER_ALLOW_CANCEL_NC",
														"type": "String"
													},
													"sink": {
														"name": "ET_MEMBER_ALLOW_CANCEL_NC",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ADP_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ADP_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ADP_EARNINGS_3_CODE",
														"type": "String"
													},
													"sink": {
														"name": "ET_ADP_EARNINGS_3_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_MAX_WAITING",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_MAX_WAITING",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_TRACK_ATTENDANCE",
														"type": "String"
													},
													"sink": {
														"name": "ET_TRACK_ATTENDANCE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_WAIT_LIST_EXP_MIN_BEFORE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_WAIT_LIST_EXP_MIN_BEFORE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_START_BOOKING_MINUTES",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_START_BOOKING_MINUTES",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_END_BOOKING_MINUTES",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_END_BOOKING_MINUTES",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_CANCEL_BOOKING_MINUTES",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_CANCEL_BOOKING_MINUTES",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_AUTO_COMPLETE",
														"type": "String"
													},
													"sink": {
														"name": "ET_AUTO_COMPLETE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COSR_ID",
														"type": "String"
													},
													"sink": {
														"name": "COSR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_SUGGEST_REBOOK",
														"type": "String"
													},
													"sink": {
														"name": "ET_SUGGEST_REBOOK",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_REMINDER_DETAILS",
														"type": "String"
													},
													"sink": {
														"name": "ET_REMINDER_DETAILS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_TEXT_MINUTES",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_TEXT_MINUTES",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_ALLOW_TEXT_CANCEL",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_ALLOW_TEXT_CANCEL",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_AUTO_UNENROLL_TIME",
														"type": "Decimal"
													},
													"sink": {
														"name": "ET_AUTO_UNENROLL_TIME",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_DUPLICATE_KIOSK_PRINTING",
														"type": "String"
													},
													"sink": {
														"name": "ET_DUPLICATE_KIOSK_PRINTING",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTTYPES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_EVENTTYPES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table  StgDatatrak.stg_eventtypes_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTTYPES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventtypetraininglevelref_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EVENTTYPETRAININGLEVELREF_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.EVENTTYPETRAININGLEVELREF\nwhere VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETTLR_AVAILABLE",
														"type": "String"
													},
													"sink": {
														"name": "ETTLR_AVAILABLE",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_EVENTTYPETRAININGLEVELREF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_EVENTTYPETRAININGLEVELREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_EVENTTYPETRAININGLEVELREF_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_EVENTTYPETRAININGLEVELREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FieldValueTypes_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_FIELDVALUETYPES_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FIELDVALUETYPES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_FIELDVALUETYPES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FIELDVALUETYPES",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "BETADATA.USERDEFINEDFIELDVALUES"
							},
							{
								"name": "Destination",
								"value": "StgDatatrak.STG_USERDEFINEDFIELDVALUES_INCR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select *\nfrom BETADATA.FIELDVALUETYPES t",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"parallelCopies": 32,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FVT_ID",
											"type": "String"
										},
										"sink": {
											"name": "FVT_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FVT_ABC_CODE",
											"type": "String"
										},
										"sink": {
											"name": "FVT_ABC_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FVT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "FVT_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OracleTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_STG_FIELDVALUETYPES_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FreezeInvoiceReasonCodes_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "FreezeInvoiceReasonCodes",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  * from BETADATA.FREEZEINVOICEREASONCODES t \nwhere FIRC_MODIFIED>= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND FIRC_MODIFIED< TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"convertDecimalToInteger": false
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "FIRC_ID",
														"type": "String"
													},
													"sink": {
														"name": "FIRC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FIRC_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "FIRC_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "FIRC_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "FIRC_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "FIRC_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "FIRC_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FIRC_NAME",
														"type": "String"
													},
													"sink": {
														"name": "FIRC_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FIRC_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "FIRC_ABC_CODE",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_FREEZEINVOICEREASONCODES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_FREEZEINVOICEREASONCODES_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[Stg_FreezeInvoiceReasonCodes_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group5"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		}
	]
}