ArmTemplate_65.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PlanetFitnessDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Groups_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Groups",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "ABCPI.STG_GROUPS"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.GROUPS\nwhere G_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND G_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "G_ID",
														"type": "String"
													},
													"sink": {
														"name": "G_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "G_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "G_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "G_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "G_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "G_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_NAME",
														"type": "String"
													},
													"sink": {
														"name": "G_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_DESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "G_DESCRIPTION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_CONTACT_NAME_FIRST",
														"type": "String"
													},
													"sink": {
														"name": "G_CONTACT_NAME_FIRST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_CONTACT_NAME_LAST",
														"type": "String"
													},
													"sink": {
														"name": "G_CONTACT_NAME_LAST",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_CONTACT_NAME_MI",
														"type": "String"
													},
													"sink": {
														"name": "G_CONTACT_NAME_MI",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_ADDRESS",
														"type": "String"
													},
													"sink": {
														"name": "G_ADDRESS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_CITY",
														"type": "String"
													},
													"sink": {
														"name": "G_CITY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_ZIP",
														"type": "String"
													},
													"sink": {
														"name": "G_ZIP",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_PHONE",
														"type": "String"
													},
													"sink": {
														"name": "G_PHONE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_PHONE_EXT",
														"type": "String"
													},
													"sink": {
														"name": "G_PHONE_EXT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G_EMAIL",
														"type": "String"
													},
													"sink": {
														"name": "G_EMAIL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "STL_ID",
														"type": "String"
													},
													"sink": {
														"name": "STL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CTL_ID",
														"type": "String"
													},
													"sink": {
														"name": "CTL_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_GROUPS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_GROUPS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_GROUPS_incr;\nSELECT 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_GROUPS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group2"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HOSTPROFITCENTERLOCATIONREF_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HostProfitCenterLocationRef",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "HostProfitCenterLocationRef01",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  * from BETADATA.HOSTPROFITCENTERLOCATIONREF t\nwhere  t.VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "HPC_ID",
														"type": "String"
													},
													"sink": {
														"name": "HPC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SPL_ID",
														"type": "String"
													},
													"sink": {
														"name": "SPL_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_HOSTPROFITCENTERLOCATIONREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_HOSTPROFITCENTERLOCATIONREF_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "HostProfitCenterLocationRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_HOSTPROFITCENTERLOCATIONREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostBoundTrans')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select  M_id, htr_created_local from betadata.HostboundTransactions htr\n     inner join betadata.HostTransactionTypes htt on (htr.htt_id = htt.htt_id) where vpd_id = 162 and htr_status='P' and htt_name='Cancel Member'",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table supreme.Pending_Cancel_Date",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "M_ID",
											"type": "String"
										},
										"sink": {
											"name": "M_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HTR_CREATED_LOCAL",
											"type": "DateTime"
										},
										"sink": {
											"name": "HTR_CREATED_LOCAL",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OracleTable7",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable20",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PF"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-15T14:53:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostProfitCenters_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HostProfitCenters",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "HostProfitCenters01",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_HOSTPROFITCENTERS_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  * from BETADATA.HOSTPROFITCENTERS t\nwhere HPC_MODIFIED>= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND HPC_MODIFIED< TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "HPC_ID",
														"type": "String"
													},
													"sink": {
														"name": "HPC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HPC_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "HPC_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HPC_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "HPC_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HPC_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "HPC_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HPC_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HPC_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HPC_DESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "HPC_DESCRIPTION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HPC_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "HPC_ABC_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PCGR_ID",
														"type": "String"
													},
													"sink": {
														"name": "PCGR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HPC_MODIFIED_DW",
														"type": "DateTime"
													},
													"sink": {
														"name": "HPC_MODIFIED_DW",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HPC_DESCRIPTION_ONLINE",
														"type": "String"
													},
													"sink": {
														"name": "HPC_DESCRIPTION_ONLINE",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_STG_HOSTPROFITCENTERS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_HOSTPROFITCENTERS_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "HostProfitCenters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_HOSTPROFITCENTERS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group4"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostTransactionTypes_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HostTransactionTypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "StgDatatrak.STG_HOSTTRANSACTIONTYPES_INCR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select  * from BETADATA.HostTransactionTypes t",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "HTT_ID",
											"type": "String"
										},
										"sink": {
											"name": "HTT_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HTT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "HTT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HTT_ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "HTT_ACTIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HTT_ABC_CODE",
											"type": "String"
										},
										"sink": {
											"name": "HTT_ABC_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HTT_TRANSACTION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "HTT_TRANSACTION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HTT_AUDIT",
											"type": "String"
										},
										"sink": {
											"name": "HTT_AUDIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HM_ID",
											"type": "String"
										},
										"sink": {
											"name": "HM_ID",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_HOSTTRANSACTIONTYPES_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "HostTransactionTypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_HOSTTRANSACTIONTYPES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "Truncate table StgDatatrak.STG_HOSTTRANSACTIONTYPES_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HostboundTransactions_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "HostboundTransactions",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  /*+INDEX(t,HTR_MODIFIED ASC)*/ * from BETADATA.HostboundTransactions t\nwhere HTR_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND HTR_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"convertDecimalToInteger": false
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "HTR_ID",
														"type": "String"
													},
													"sink": {
														"name": "HTR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HTR_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "HTR_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HTR_CREATED_LOCAL",
														"type": "DateTime"
													},
													"sink": {
														"name": "HTR_CREATED_LOCAL",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HTR_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "HTR_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "HTR_RESPONSE_TIME",
														"type": "Decimal"
													},
													"sink": {
														"name": "HTR_RESPONSE_TIME",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "HTR_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "HTR_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HTR_RETURN_CODE",
														"type": "String"
													},
													"sink": {
														"name": "HTR_RETURN_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HTT_ID",
														"type": "String"
													},
													"sink": {
														"name": "HTT_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SS_ID",
														"type": "String"
													},
													"sink": {
														"name": "SS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TZL_ID_CREATED_LOCAL",
														"type": "String"
													},
													"sink": {
														"name": "TZL_ID_CREATED_LOCAL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HTR_DISPLAY",
														"type": "String"
													},
													"sink": {
														"name": "HTR_DISPLAY",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_HOSTBOUNDTRANSACTIONS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_HOSTBOUNDTRANSACTIONS_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[Stg_HostBoundTransactions_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group5"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INCREMENTALSERVICECATALOGITEMS_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IncrementalServiceCatalogItems_SQLPOOL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Incrementalservicecatalogitems__SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.incrementalservicecatalogitems t\nWHERE VPD_ID in @{item().vpd_list}\n",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CGI_ID",
														"type": "String"
													},
													"sink": {
														"name": "CGI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCSCGI_AMOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSCGI_AMOUNT",
														"type": "Decimal"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "OracleTable2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_INCREMENTALSERVICECATALOGITEMS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_INCREMENTALSERVICECATALOGITEMS_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalServiceCatalogItems_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICECATALOGITEMS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INCREMENTALSERVICES_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IncrementalServices_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_INCREMENTALSERVICES_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,INCS_MODIFIED) */ * from BETADATA.INCREMENTALSERVICES t\nwhere INCS_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND INCS_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_7",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_7",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_8",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_8",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_9",
														"type": "String"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_9",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_6",
														"type": "String"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_6",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_BILLING_DAY",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_BILLING_DAY",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_TOTAL_PERIODS",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_TOTAL_PERIODS",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_NUMBER_BILLED",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_NUMBER_BILLED",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_FIRST_BILLING_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_FIRST_BILLING_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_AUTO_DISABLED",
														"type": "String"
													},
													"sink": {
														"name": "INCS_AUTO_DISABLED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_MONTHLY_TOTAL_NUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_MONTHLY_TOTAL_NUMBER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_GRAND_TOTAL_NUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_GRAND_TOTAL_NUMBER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "CPR_ID",
														"type": "String"
													},
													"sink": {
														"name": "CPR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_3",
														"type": "String"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_3",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SAI_ID",
														"type": "String"
													},
													"sink": {
														"name": "SAI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SEM_ID",
														"type": "String"
													},
													"sink": {
														"name": "SEM_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_5",
														"type": "String"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_5",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DOC_ID",
														"type": "String"
													},
													"sink": {
														"name": "DOC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID_SERVICE",
														"type": "String"
													},
													"sink": {
														"name": "E_ID_SERVICE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_EXTENDED_PRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_EXTENDED_PRICE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_4",
														"type": "String"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_4",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_CREATED_LOCAL",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_CREATED_LOCAL",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_NEXT_BILLING_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_NEXT_BILLING_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_TYPE",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_TYPE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_REORDER_QUANTITY",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_REORDER_QUANTITY",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_START_FREEZE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_START_FREEZE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_END_FREEZE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_END_FREEZE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "FRO_ID",
														"type": "String"
													},
													"sink": {
														"name": "FRO_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CRO_ID",
														"type": "String"
													},
													"sink": {
														"name": "CRO_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ET_ID",
														"type": "String"
													},
													"sink": {
														"name": "ET_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ETL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ETL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_FREEZE_APPLIED",
														"type": "String"
													},
													"sink": {
														"name": "INCS_FREEZE_APPLIED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ED_ID",
														"type": "String"
													},
													"sink": {
														"name": "ED_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EL_ID",
														"type": "String"
													},
													"sink": {
														"name": "EL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "E_ID_TRAINER",
														"type": "String"
													},
													"sink": {
														"name": "E_ID_TRAINER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "D_ID",
														"type": "String"
													},
													"sink": {
														"name": "D_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_SKIP_CONFLICTS",
														"type": "String"
													},
													"sink": {
														"name": "INCS_SKIP_CONFLICTS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_INACTIVE_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_INACTIVE_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_AUTO_RENEW",
														"type": "String"
													},
													"sink": {
														"name": "INCS_AUTO_RENEW",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_10",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_10",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_DEAD_COLUMN_11",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_DEAD_COLUMN_11",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "POS_ID",
														"type": "String"
													},
													"sink": {
														"name": "POS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "UDFTAB_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "UDFTAB_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "UDFV_ID",
														"type": "String"
													},
													"sink": {
														"name": "UDFV_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RSP_ID",
														"type": "String"
													},
													"sink": {
														"name": "RSP_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_BILLING_DAY_2",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_BILLING_DAY_2",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_FIRST_TOTAL",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_FIRST_TOTAL",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSF_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCSF_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POSST_ID",
														"type": "String"
													},
													"sink": {
														"name": "POSST_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_OPEN",
														"type": "String"
													},
													"sink": {
														"name": "INCS_OPEN",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_DOWN_PAYMENT",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_DOWN_PAYMENT",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_FIRST_INVOICE_DISCOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_FIRST_INVOICE_DISCOUNT",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_TRACK",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCS_TRACK",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "MC_ID",
														"type": "String"
													},
													"sink": {
														"name": "MC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RSRR_ID",
														"type": "String"
													},
													"sink": {
														"name": "RSRR_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RSS_ID",
														"type": "String"
													},
													"sink": {
														"name": "RSS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_RFC_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCS_RFC_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCS_CROSS_CLUB",
														"type": "String"
													},
													"sink": {
														"name": "INCS_CROSS_CLUB",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_INCREMENTALSERVICES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_INCREMENTALSERVICES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_incrementalservices_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalServiceFrequency_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IncrementalServiceFrequency_SQLPOOL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from betadata.incrementalservicefrequency;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table StgDatatrak.stg_incrementalservicefrequency_incr;",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INCSF_ID",
											"type": "String"
										},
										"sink": {
											"name": "INCSF_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INCSF_NAME",
											"type": "String"
										},
										"sink": {
											"name": "INCSF_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_INCREMENTALSERVICEFREQUENCY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_INCREMENTALSERVICEFREQUENCY_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalServiceFrequency_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICEFREQUENCY_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incrementalservicecommissions_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Incrementalservicecommissions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Incrementalservicecommissions__SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_INCREMENTALSERVICECOMMISSIONS_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.INCREMENTALSERVICECOMMISSIONS\nwhere INCSC_MODIFIED>= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND INCSC_MODIFIED< TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSC_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCSC_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCSC_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCSC_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCSC_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCSC_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCSC_SPLIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSC_SPLIT",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "E_ID",
														"type": "String"
													},
													"sink": {
														"name": "E_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_INCREMENTALSERVICECOMMISSIONS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_INCREMENTALSERVICECOMMISSIONS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_incrementalservicecommissions_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Incrementalservicecommissions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICECOMMISSIONS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incrementalserviceplanservices_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Incrementalserviceplanservices",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Incrementalserviceplanservices01_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select  /*+INDEX(t,PK_INCREMENTALSERVICEPLANSERVI) */ * from BETADATA.INCREMENTALSERVICEPLANSERVICES t\nwhere VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ISPS_ID",
														"type": "String"
													},
													"sink": {
														"name": "ISPS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCS_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SPTIME_ID",
														"type": "String"
													},
													"sink": {
														"name": "SPTIME_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ISPS_QUANTITY",
														"type": "Decimal"
													},
													"sink": {
														"name": "ISPS_QUANTITY",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ISPS_UNIT_PRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ISPS_UNIT_PRICE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ISPS_EXTENDED_PRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "ISPS_EXTENDED_PRICE",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ISPS_METERED",
														"type": "String"
													},
													"sink": {
														"name": "ISPS_METERED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SDT_ID",
														"type": "String"
													},
													"sink": {
														"name": "SDT_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_INCREMENTALSERVICEPLANSERVICES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_INCREMENTALSERVICEPLANSERVICES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_INCREMENTALSERVICEPLANSERVICES_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Incrementalserviceplanservices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICEPLANSERVICES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incrementalserviceshistory_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Incrementalserviceshistory",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Incrementalserviceshistory_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_INCREMENTALSERVICESHISTORY_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select /*+INDEX(t,INCSERVICESHIST_MODIFIED) */ * from BETADATA.INCREMENTALSERVICESHISTORY\nwhere INCSH_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND INCSH_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSH_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCSH_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCSH_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCSH_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCSH_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCSH_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCSH_TOTAL_PERIODS",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSH_TOTAL_PERIODS",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSH_NUMBER_BILLED",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSH_NUMBER_BILLED",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSH_MONTHLY_TOTAL_NUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSH_MONTHLY_TOTAL_NUMBER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCSH_GRAND_TOTAL_NUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "INCSH_GRAND_TOTAL_NUMBER",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "INCS_ID",
														"type": "String"
													},
													"sink": {
														"name": "INCS_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POSI_ID",
														"type": "String"
													},
													"sink": {
														"name": "POSI_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INCSH_BILLING_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INCSH_BILLING_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INCSH_SERVICE_DROPPED",
														"type": "String"
													},
													"sink": {
														"name": "INCSH_SERVICE_DROPPED",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_INCREMENTALSERVICESHISTORY",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_INCREMENTALSERVICESHISTORY_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_INCREMENTALSERVICESHISTORY_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Incrementalserviceshistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICESHISTORY_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incrementalservicetypes_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IncrementalServiceTypes_SQLPOOL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from betadata.incrementalservicetypes;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INCST_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INCST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INCST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "INCST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INCST_ABC_CODE",
											"type": "String"
										},
										"sink": {
											"name": "INCST_ABC_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_INCREMENTALSERVICETYPES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_INCREMENTALSERVICETYPES_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalServiceTypes_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_INCREMENTALSERVICETYPES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEADPRIORITYLOOKUP_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LeadPriorityLookup_SQLPOOL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "StgDatatrak.STG_LEADPRIORITYLOOKUP_INCR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * from BETADATA.LEADPRIORITYLOOKUP\nwhere LPL_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND LPL_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table StgDatatrak.stg_leadprioritylookup_incr;",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vifiles"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LPL_ID",
											"type": "String"
										},
										"sink": {
											"name": "LPL_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LPL_CREATED",
											"type": "DateTime"
										},
										"sink": {
											"name": "LPL_CREATED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LPL_MODIFIED",
											"type": "DateTime"
										},
										"sink": {
											"name": "LPL_MODIFIED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LPL_ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "LPL_ACTIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LPL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "LPL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LPL_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "LPL_DESCRIPTION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SRC_BETADATA_LEADPRIORITYLOOKUP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SNK_SYN_DT_LEADPRIORITYLOOKUP_INCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LeadPriorityLookup_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_LEADPRIORITYLOOKUP_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCATIONTAXREF_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE StgDatatrak.STG_LOCATIONTAXREF_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LocationTaxRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_LOCATIONTAXREF_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LocationTaxRef",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "LocationTaxRef01_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * FROM betadata.locationtaxref where VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "vpd_id",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "SPL_ID",
														"type": "String"
													},
													"sink": {
														"name": "spl_id",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "STR_ID",
														"type": "String"
													},
													"sink": {
														"name": "str_id",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_LocationTaxRef",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_LOCATIONTAXREF_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_GroupNoDate"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Star_Sequence_ALL_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Star_Sequence_1_SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_1_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Star_Sequence_2_SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Star_Sequence_1_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_2_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Star_Sequence_3_SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Star_Sequence_2_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_3_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Star_Sequence_4_SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Star_Sequence_3_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_4_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Star_Sequence_5_SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Star_Sequence_4_SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_5_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-10T23:31:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Star_Sequence_All_Hist_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Star Sequence 1 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_1_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Star Sequence 2 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Star Sequence 1 Hist SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_2_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Star Sequence 3 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Star Sequence 2 Hist SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_3_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Star Sequence 4 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Star Sequence 3 Hist SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_4_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Star Sequence 5 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Star Sequence 4 Hist SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_5_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Star Sequence 6 Hist SQLPOOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Star Sequence 5 Hist SQLPOOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Star_Sequence_6_Hist_SQLPOOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Oracle_SQLPOOL"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-24T15:45:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MEMBERACTIVITIES_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "MEMBERACTIVITIES",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select t.* from BETADATA.MEMBERACTIVITIES  t\nwhere MA_MODIFIED>= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND MA_MODIFIED< TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"convertDecimalToInteger": false
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "MA_ID",
														"type": "String"
													},
													"sink": {
														"name": "MA_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MA_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "MA_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MA_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "MA_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MA_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "MA_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MA_NAME",
														"type": "String"
													},
													"sink": {
														"name": "MA_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MA_SCHEDULED_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "MA_SCHEDULED_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MA_COMPLETED_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "MA_COMPLETED_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MA_NOTE",
														"type": "String"
													},
													"sink": {
														"name": "MA_NOTE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ASL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ASL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "APL_ID",
														"type": "String"
													},
													"sink": {
														"name": "APL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ATL_ID",
														"type": "String"
													},
													"sink": {
														"name": "ATL_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_MEMBERACTIVITIES_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.STG_MEMBERACTIVITIES_INCR;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_MEMBERACTIVITIES_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group5"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MEMBERMARKETINGCOMM_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "MemberMarketingComm_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "BETADATA.MEMBERMARKETINGCOMM"
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_MEMBERMARKETINGCOMM_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.MEMBERMARKETINGCOMM\nwhere LAST_CHANGED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND LAST_CHANGED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "M_ID",
														"type": "String"
													},
													"sink": {
														"name": "M_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LAST_CHANGED",
														"type": "DateTime"
													},
													"sink": {
														"name": "LAST_CHANGED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "OPT_IN_CCPA",
														"type": "String"
													},
													"sink": {
														"name": "OPT_IN_CCPA",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "OPT_IN_GDPR",
														"type": "String"
													},
													"sink": {
														"name": "OPT_IN_GDPR",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "OPT_IN_OTHER",
														"type": "String"
													},
													"sink": {
														"name": "OPT_IN_OTHER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELETE_CCPA",
														"type": "String"
													},
													"sink": {
														"name": "DELETE_CCPA",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELETE_GDPR",
														"type": "String"
													},
													"sink": {
														"name": "DELETE_GDPR",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DELETE_OTHER",
														"type": "String"
													},
													"sink": {
														"name": "DELETE_OTHER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COMM_EMAIL",
														"type": "String"
													},
													"sink": {
														"name": "COMM_EMAIL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COMM_SMS",
														"type": "String"
													},
													"sink": {
														"name": "COMM_SMS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COMM_DIRECTMAIL",
														"type": "String"
													},
													"sink": {
														"name": "COMM_DIRECTMAIL",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COMM_PUSHNOTIF",
														"type": "String"
													},
													"sink": {
														"name": "COMM_PUSHNOTIF",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_MEMBERMARKETINGCOMM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_MEMBERMARKETINGCOMM_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_membermarketingcomm_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_MEMBERMARKETINGCOMM_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MEMBERSHIPCAMPAIGNGROUPS_SQLPOOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "MembershipCampaignGroups_SQLPOOL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "BETADATA.MEMBERSHIPCAMPAIGNGROUPS"
										},
										{
											"name": "Destination",
											"value": "StgDatatrak.STG_MEMBERSHIPCAMPAIGNGROUPS_INCR"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from BETADATA.MEMBERSHIPCAMPAIGNGROUPS\nwhere MCG_MODIFIED >= TO_DATE('@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI') \nAND MCG_MODIFIED < TO_DATE('@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}', 'YYYY-MM-DD HH24:MI')\nAND VPD_ID in @{item().vpd_list}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage1",
												"type": "LinkedServiceReference"
											},
											"path": "vifiles"
										},
										"parallelCopies": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VPD_ID",
														"type": "Decimal"
													},
													"sink": {
														"name": "VPD_ID",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "MCG_ID",
														"type": "String"
													},
													"sink": {
														"name": "MCG_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MCG_CREATED",
														"type": "DateTime"
													},
													"sink": {
														"name": "MCG_CREATED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MCG_MODIFIED",
														"type": "DateTime"
													},
													"sink": {
														"name": "MCG_MODIFIED",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "MCG_ACTIVE",
														"type": "String"
													},
													"sink": {
														"name": "MCG_ACTIVE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "U_ID_AUDIT",
														"type": "String"
													},
													"sink": {
														"name": "U_ID_AUDIT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MCG_NAME",
														"type": "String"
													},
													"sink": {
														"name": "MCG_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MCG_ABC_CODE",
														"type": "String"
													},
													"sink": {
														"name": "MCG_ABC_CODE",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SRC_BETADATA_MEMBERSHIPCAMPAIGNGROUPS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SNK_SYN_DT_MEMBERSHIPCAMPAIGNGROUPS_INCR",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Incr table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[abcpi].[GetVPDToLoad]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate Incr table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table StgDatatrak.stg_membershipcampaigngroups_incr;\nselect 0;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSynapseAnalyticsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Merge to Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[StgDatatrak].[STG_MEMBERSHIPCAMPAIGNGROUPS_MERGE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle_SQLPOOL/Oracle_SQL_POOL_Group3"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:25:31Z"
			},
			"dependsOn": []
		}
	]
}